{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/home.css '% }">
</head>

<body>
    {% include "nav.html" %}
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione illo unde totam quam fugiat sint a ipsam? Dicta
        provident tenetur corrupti rerum dolor eum ex et blanditiis, unde odit corporis voluptatem sed sequi autem,
        officiis voluptate iste aperiam repellat ad placeat fuga mollitia. Doloremque magnam animi libero est assumenda
        pariatur sit cum possimus accusamus. Aliquam natus, similique explicabo fugit, sapiente dicta quisquam quae
        commodi quidem inventore ea? Blanditiis repellendus sit alias reprehenderit magni ratione in accusamus quia
        quos. Illum similique minus voluptates alias error fugiat harum voluptas eum labore? Facere quos, repudiandae
        consequuntur beatae quis nesciunt maxime ipsam ipsum doloribus!</p>

    <button onclick="myclick()">Click</button>

    <script src="{% static 'js/home.js' %}"></script>
</body>

</html>