<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero labore neque optio, nam numquam dicta animi dolorem
        in saepe quibusdam dignissimos error incidunt, repellat nesciunt, libero eos sit dolor? At earum, vitae nulla
        harum similique fugiat temporibus quo! Enim excepturi fuga distinctio dolores dolorem repellendus quibusdam
        dolor nam labore maiores, tenetur, suscipit consectetur. Exercitationem saepe quidem ipsam at laborum ullam!</p>
</body>

</html>