<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque aliquid consequuntur pariatur repellendus
        reiciendis, eveniet hic mollitia! Dolores quo deleniti aperiam fuga possimus accusamus eveniet corrupti sequi,
        necessitatibus, aliquam facilis corporis sunt ducimus temporibus amet iure doloremque quis. Eaque, tempora
        tenetur minima dolor, nam omnis quod incidunt ipsam nemo eum fugit similique quos odit aperiam obcaecati magni
        voluptatem adipisci quas sed placeat molestias aliquid quia? Provident quia omnis ducimus nisi est in cumque
        fugiat temporibus atque, distinctio minima molestiae unde sed corporis, alias aliquid voluptatibus qui molestias
        quasi nostrum? Reprehenderit omnis similique culpa possimus ex magni repellendus natus tenetur fugit.</p>
</body>

</html>